* {box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{background: rgb(40, 43, 40);}
.content-center{
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding:20px;
    background-color: aliceblue;
    border-radius: 15px;
}
    
.content-center .text-center{text-align: center;}

.content-center form{margin: 20px;}

.content-center input,
.content-center button {width: 100%;
padding: 10px 5px;
border: none;}

.content-center input {
    border-bottom-color:#ccc;
    border-bottom-style:solid;
    border-bottom-width:2px;
    margin-bottom: 10px;
}
.content-center input:focus{
    border-bottom-color:#d07335 ;
}


header a{
    color: rgb(192, 192, 192);
    text-decoration:none ;
}
header a:visited{
    color: brown;
}
header a:hover{
    text-decoration: underline;
}

header h1{
    font-size: 3.5em;
    text-align: center;
    margin: 50px auto;
}

footer p {
    color: rgb(192, 192, 192);
    font-size: 1.0em;
    text-align: center;
    margin: 50px auto;
}

div h2{
    font-size: x-large;
    text-align: center;
}

div b{
    font-size: large;
    text-align: left;
}
img {border: 3px ridge rgb(0, 0, 0);
    border-radius: 15%;}
